@import url(./set.css);

body {
    background-color: var(--couleur_fond);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.container {
    background-color: var(--couleur_principale);
    display: flex;
    flex-direction: column;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

}

h2 {
    margin-bottom: 10%;
}

input {
    margin-bottom: 14px;
    background-color: var(--couleur_input);
    color: var(--couleur_texte_input);
    border-radius: 10px;
    padding: 14px;
    border: none;
    width: 100%;
}

.div_input {
    position: relative;
}

.img_input {
    position: absolute;
    transform: rotate(0);
    right: 20px;
    top: 12px;
    opacity: 0.5;
    pointer-events: none;
    transition: .5s;
}

.img_input_rotate {
    position: absolute;
    transform: rotate(180deg);
    right: 20px;
    top: 12px;
    opacity: 0.5;
    pointer-events: none;
    transition: .5s;
}




.formulaire {
    display: flex;
    flex-direction: column;
}


button {
    padding: 10px;
    margin-top: 24px;
    border-radius: 10px;
    background-color: var(--couleur_secondaire);
    color: var(--couleur_input);
    border: solid var(--couleur_principale) 2px;
    transition: 0.3s;
}

button:hover {
    background-color: var(--couleur_principale);
    border: solid var(--couleur_secondaire) 2px;
    color: var(--couleur_texte_principal);
}

#showpp {
    cursor: pointer;
    width: auto;
    height: 64px;
    background: no-repeat;
}



#ppcontent {
    height: auto;
    width: 100%;
    max-width: 256px;
    display: none;
    flex-wrap: wrap;
    animation: 0.5s;
}

/* 
.showpp {
    background-image: url(../../Assets/Images/profil/anonymous.svg)
}

.hidepp {
    display: none;
} */